# CRUD Operations on sales dataset.

## Importing Libraries

In [5]:
# 1. pandas : For manipulating dataset
# 2. warnings : For Ignoring warnings

In [6]:
import pandas as pd
import warnings

In [7]:
# code to ignore warnings

warnings.filterwarnings('ignore')

## Let's have a look at Dataset

In [8]:
dataset = pd.read_csv('sales_dataset.csv')

# Displaying first 5 rows of dataset 
dataset.head()

,Unnamed: 0,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Quantity,Price,Date,Address
0,0.0,295665,Macbook Pro Laptop,1,1700.00,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001",NaN,NaN,NaN,NaN
1,1.0,295666,LG Washing Machine,1,600.00,2019-12-29 07:03:00,"562 2nd St, New York City, NY 10001",NaN,NaN,NaN,NaN
2,2.0,295667,USB-C Charging Cable,1,11.95,2019-12-12 18:21:00,"277 Main St, New York City, NY 10001",NaN,NaN,NaN,NaN
3,3.0,295668,27in FHD Monitor,1,149.99,2019-12-22 15:13:00,"410 6th St, San Francisco, CA 94016",NaN,NaN,NaN,NaN
4,4.0,295669,USB-C Charging Cable,1,11.95,2019-12-18 12:38:00,"43 Hill St, Atlanta, GA 30301",NaN,NaN,NaN,NaN

## Function to read the data

In [9]:
def read_data():
    df = pd.read_csv('sales_dataset.csv')
    return df

# Create: Insert new records into the dataset. 
The code below will accept the parameters for creating a new row that can be added in the dataset. 
### Flow of this function will be like :- 
1. Accepting parameters
2. Checking if the dataset is available or not.
3. If found , will append the row in the dataset and print Success Message
4. If not found, will print Unsuccess message

In [10]:
def create_row(ID, Product, Quantity, Price, Date, Address):

    new_row = pd.DataFrame({'Order ID': [ID], 'Product': [Product], 'Quantity Ordered': [Quantity], 'Price Each': [Price], 'Order Date': [Date],'Purchase Address': [Address]})

    df = read_data()
    file_path = 'sales_dataset.csv'
    #Append row in the dataset df
    if df is not None:
        df = pd.concat([df, new_row], ignore_index=True)
        df.to_csv(file_path, index=False)
        print(f"Record with ID {ID} added successfully.")
    else:
        print("Failed to create record. CSV file not found.")

# Read: Retrieve and display specific records from the dataset. The code below will accept the ID passed during function call , and will print the record assicoated with the particular ID.

### Flow of this function will be like :-
1. Accepting parmeters (ID).
2. Checking if the dataset is available or not.
3. If found , will read the ID and check Whether the particular record is empty or not.
4. If record is found not empty , will return the record associated with particular ID.
5. If found empty, will print "Not Found".
6. Else , print Unsuccess Message.

In [17]:
def read_row(id):
    df = read_data()
    file_path = 'sales_dataset.csv'
    
    if df is not None:
        record = df[df['Order ID'] == id]
        if not record.empty:
            print(f"Record with ID {id}:\n", record)
        else:
            print(f"Record with ID {id} not found.")
    else:
        print("Failed to read record. CSV file not found.")

# Update: Modify existing records in the dataset. 
This function will modify the particular record.

#### Flow of this function will be like:-
1. Will accept parameters.
2. Checking if the dataset is available or not.
3. If dataset found, will read the ID , and check whether the record exists or not.
4. If exists, will assign new value to every variable, and print success message.
5. Else, print unsuccessful message.

In [20]:
def update_row(ID=None, Product=None, Quantity=None, Price=None, Date=None, Address=None):
    df = read_data()
    file_path = 'sales_dataset.csv'

    if df is not None:
        index = df[df['Order ID'] == ID].index
        if not index.empty:
            if Product:
                df.loc[index, 'Product'] = Product
            if Quantity:
                df.loc[index, 'Quantity'] = Quantity
            if Price:
                df.loc[index, 'Price'] = Price 
            if Date:
                df.loc[index, 'Date'] = Date
            if Address:
                df.loc[index, 'Address'] = Address

            df.to_csv(file_path, index=False)
            print(f"Record with {ID} updated successfully.")
        else:
            print(f"Record with ID {ID} not found")
    else:
        prinnt("Failed to update record. CSV file not found")

# Delete: Remove specific records from the dataset. 
This  function will remove a record from dataset.

### Flow of this function will be like:-
1. Check if dataset is avaliable.
2. If available, check ID and remove the record associated with ID.
3. Else, Print Unsuccess message.

In [21]:
def delete_row(ID):
    df = read_data()
    file_path = 'sales_dataset.csv'

    if df is not None:
        df = df[df['Order ID'] != ID]
        df.to_csv(file_path, index = False)
        print(f"Record with ID {ID} deleted successfully.")
    else:
        print("Failed to delete record. CSV file not found.")

# Demonstration of CRUD operations.

In [15]:
# Create record
create_row(101, 'Laptop', 1, 55000, '23-7-2024', 'Sambhajinagar')

Record with ID 101 added successfully.

In [18]:
# Read record
read_row(101)

Record with ID 101:
         Unnamed: 0  Order ID Product  Quantity Ordered  Price Each Order Date  \
185950         NaN       101  Laptop                 1     55000.0  23-7-2024

       Purchase Address  Quantity  Price Date Address
185950    Sambhajinagar       NaN    NaN  NaN     NaN

In [22]:
# Update record
update_row(101, 'Lenovo Laptop', 1, 60000, '23-7-2024', 'Nirala bazar, Sambhajinagar')

Record with 101 updated successfully.

In [23]:
# fetch updated record
read_row(101)

Record with ID 101:
         Unnamed: 0  Order ID        Product  Quantity Ordered  Price Each  \
185950         NaN       101  Lenovo Laptop                 1     55000.0

       Order Date Purchase Address  Quantity    Price       Date  \
185950  23-7-2024    Sambhajinagar       1.0  60000.0  23-7-2024

                            Address
185950  Nirala bazar, Sambhajinagar

In [25]:
# delete record
delete_row(101)

Record with ID 101 deleted successfully.